/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}

h1,
h2,
h3 {
  color: var(--color-foreground-primary);
  font-family: "Poppins", sans-serif;
}

p {
  color: var(--color-content-foreground);
  font-family: "Inter", sans-serif;
}

a {
  color: var(--color-link);
  font-family: "Inter", sans-serif;
  text-decoration-color: var(--color-link--hover);
}

a.muted-link {
  text-decoration: underline;
}

a:hover {
  color: #3545be;
}

.custom-note {
  background-color: #f8f8f8;
  border-left: 4px solid #2196f3;
  padding: 16px;
  margin-bottom: 16px;
}

:root {
  --ifm-color-primary: #0e1652;
  --ifm-color-primary-dark: #0d144a;
  --ifm-color-primary-darker: #0c1346;
  --ifm-color-primary-darkest: #0a0f39;
  --ifm-color-primary-light: #0f185a;
  --ifm-color-primary-lighter: #10195e;
  --ifm-color-primary-lightest: #121d6b;
}
.hero--primary {
  background-image: linear-gradient(
    180deg,
    rgba(14, 22, 82, 1) 0%,
    rgba(34, 47, 149, 1) 100%
  );
  color: var(--ifm-font-color-base-inverse);
}

.navbar__link {
  color: #343745;
}

/* Overriding root Infima variables */
[data-theme="dark"] {
  --ifm-color-primary: #b9c5ef;
  background: #303030;
}
/* Styling one class specially in dark mode */
[data-theme="dark"] .purple-text {
  color: rgb(181, 160, 181);
}

[data-theme="dark"] .hero--primary {
  background-image: linear-gradient(
    180deg,
    rgba(166, 166, 166, 1) 0%,
    rgba(235, 235, 235, 1) 100%
  );
  color: var(--ifm-font-color-base-inverse);
}

[data-theme="dark"] .navbar__link {
  color: #ffffff;
}

.footer {
  background-color: #1a1b22;
}

[data-theme="dark"] .footer--dark {
  background-color: #7f7f7f;
}
